<div class="app-page">
  <div class="app-page__header">
    <h1>Registration</h1>
  </div>

  <form
    [formGroup]="form"
    (submit)="onSubmit()"
    (keyup.enter)="onSubmit()"
    novalidate
    autocomplete="off"
    class="app-form"
  >
    <div class="app-page__content">
      <ny-form-field
        label="Email"
        [required]="true"
        [control]="form.controls['email']"
        [isInline]="false"
        [patternError]="regexErrors.email"
      >
       <ny-input formControlName="email" lable="Email address" id="email" type="email"></ny-input>
      </ny-form-field>

      <ny-form-field
        label="Password"
        [required]="true"
        [control]="form.controls['password']"
        [isInline]="false"
        [patternError]="regexErrors.password"
      >
       <ny-input formControlName="password" lable="Password" id="password" type="password"></ny-input>
      </ny-form-field>

      <ny-form-field
        label="Repeat password"
        [required]="true"
        [control]="form.controls['passwordRepeat']"
        [isInline]="false"
        [patternError]="regexErrors.password"

      >
        <ny-input formControlName="passwordRepeat" lable="Confirm password" id="confirm-password" type="password"></ny-input>
      </ny-form-field>

      <div  class="error" [class.error_active]="form.hasError('repeat')">
        Entered passwords don't match
      </div>
    </div>

    <div class="app-page__footer mb-7">
      <ny-button type="submit" class="w-full">Complete</ny-button>
    </div>
  </form>

</div>

